<!DOCTYPE html>
<html>
	<head>
  		<link rel="stylesheet" href="stylesheets/style.css">
  		<title>Index: Choose a service to test</title>
	</head>

	<body>
		<h1><center>choose a service to test </center></h1>
		<br/>
		<br/>
		<a href='book'>Test Cloudant(NoSQL database), Watson Personality Insights & Watson Translation</a>
		<br/>
		<br/>
		<a href='visual_recognition'>Watson: Visual recognition</a> 
	</body>
</html>