<!DOCTYPE html>
<html>
<head>
  <title>Personality Insights</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1>Watson Services on book : <a class='action' href="/">back to homepage</a></h1>
</div>

<h2>Personality Insights - Personnality Insights based on the book Quote</h2>
<% categories.forEach(function(category, index) { %>
	<b> <%= category %> : <%= percentages[index] * 100 %> % </b>
	<br/>
<% }); %>

</body>
</html>
