<!DOCTYPE html>
<html>
<head>
  <title>Visual recognition </title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<form action="/visual_recognition/analyze_image1" method="post">
	<div class='half' >
		<img src="./house.jpg" width="128" height="128" alt="house">
		<input class='btn' type="submit" value='Analyze'>
	</div>
</form>

<form action="/visual_recognition/analyze_image2" method="post">
	<div class='half'>
		<img src="./audi.jpg" width="128" height="128" alt="audi">
		<input class='btn' type="submit" value='Analyze'>
	</div>
</form>
